
.icon-user:before { content: '\e800'; } /* '' */
.icon-cardnumber:before { content: '\e801'; } /* '' */
.icon-CVV:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */