<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" sizes="196x196" href="img/touch/touch-icon-196x196.png">
        <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">

        <!-- SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page -->
        <!--
        <link rel="canonical" href="http://www.example.com/" >
        -->

        <meta name="mobile-web-app-capable" content="yes">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">

        <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
        <!--
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
        -->
        <meta name="viewport" content="target-densitydpi=260, width=device-width" />

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/index.css" media="all">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.7.1.min.js"></script>
    </head>
    <body>
        <div class="m-body" ng-app="myApp">
            <div class="m-body__container">
                <div class="m-top-input">
                    <div class="m-top-input__main">
                        3 537,14 ђ
                    </div>
                    <div class="m-top-input__small">
                        Сумма платежа
                    </div>
                    <a class="m-top-input__cross" href="">&times;</a>
                </div>
                <div class="m-input">
                    <label class="m-icon m-icon_error icon-cardnumber" for=""></label>
                    <div class="m-input__cover" ng-controller="InputCtrl">
                        <div class="m-input__xxx">
                            <span ng-repeat="char in placeholder track by $index" class="m-input__char">{{ char }}</span>
                        </div>
                        <input id="cardnumber" maxlength="16"ng-model="cardnumber" ng-change="changeCardnumber()" type="tel" placeholder="">
                        <label for="cardnumber" class="m-input__cover-value">
                            <span ng-repeat="char in formatCreditCardNumber track by $index" class="m-input__char">{{ char }}</span>
                        </label>
                    </div>
                </div>
                <div class="m-input">
                    <label class="m-icon m-icon_error  icon-user" for="user"></label>
                    <input type="text" id="user" placeholder="Имя держателя" value="константин константинопольский">
                </div>
                <div class="m-input">
                    <label class="m-icon m-icon_error  icon-CVV" for=""></label>
                    <input maxlength="3" type="tel" placeholder="CVV">
                </div>
                <div class="m-input">
                    <label class="m-icon m-icon_error  icon-calendar" for="date"></label>
                    <input id="date" type="month" placeholder="Дата окончания">
                </div>
            </div>
            <button disabled class="m-button">Оплатить</button>
        </div>
        <!-- Add your site or application content here -->

        <script src="./bower_components/jquery/dist/jquery.min.js"></script>
        <script src="./bower_components/angular/angular.min.js"></script>
        <script src="./js/app.js"></script>
    </body>
</html>
