<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">-->
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" sizes="196x196" href="img/touch/touch-icon-196x196.png">
        <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">

        <!-- SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page -->
        <!--
        <link rel="canonical" href="http://www.example.com/" >
        -->

        <meta name="mobile-web-app-capable" content="yes">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">

        <meta name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/index.css" media="all">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.7.1.min.js"></script>
    </head>
    <body>
        <div class="m-body" ng-app="myApp">
            <div class="m-body__container">
                <div class="m-input">
                    <label class="m-icon  icon-cardnumber" for="cardnumber"></label>
                    <div class="m-input__cover" ng-controller="InputCtrl">
                        <div class="m-input__xxx">
                            <span ng-repeat="char in placeholder track by $index" class="m-input__char">{{ char }}</span>
                        </div>
                        <input id="cardnumber" 
                               maxlength="16" 
                               ng-focus="cardnumber='';changeCardnumber()" 
                               ng-pattern="/^\d{1,16}$/" 
                               ng-model="cardnumber" 
                               ng-change="changeCardnumber()" 
                               type="tel" 
                               placeholder=""
                        >
                        <label for="cardnumber" class="m-input__cover-value">
                            <span ng-repeat="char in formatCreditCardNumber track by $index" class="m-input__char">{{ char }}</span>
                        </label>
                    </div>
                </div>
                <div class="m-input">
                    <label class="m-icon  icon-user" for="user"></label>
                    <input type="text" size="50" id="user" placeholder="Имя держателя" style="text-transform:uppercase" value="">
                </div>
                <div class="m-input">
                    <label class="m-icon  icon-CVV" for="cvv"></label>
                    <input maxlength="3" type="tel" id="cvv" placeholder="CVV" ng-focus="cvv=''" ng-model="cvv">
                </div>
                <div class="m-input">
                    <label class="m-icon  icon-calendar" for="date"></label>
                    <div class="m-input__cover" ng-controller="CalendarCtrl">
                        <input id="date" 
                               maxlength="4" 
                               ng-focus="date='';change()" 
                               ng-pattern="/^\d{1,4}$/" 
                               ng-model="date" 
                               ng-change="change()" 
                               type="tel" 
                               placeholder=""
                        >
                        <label for="date" class="m-input__cover-value">
                            <span ng-if="date.length">
                                <span ng-repeat="char in dateCover track by $index" class="m-input__char">{{ char }}</span>
                            </span>
                            <span class="m-input__cover-placeholder" ng-if="!date.length">Дата окончания</span>
                        </label>
                    </div>
                    <!--<input id="date" type="tel" placeholder="Дата окончания" ng-model="date" ng-focus="date=null" maxlength="4">-->
                </div>
            </div>
            <button class="m-button">Оплатить</button>
        </div>
        <!-- Add your site or application content here -->

        <script src="./bower_components/jquery/dist/jquery.min.js"></script>
        <script src="./bower_components/angular/angular.min.js"></script>
        <script src="./js/app.js"></script>
    </body>
</html>
