html,
body {
  margin:0;
  padding:0;
  height:100%;
}

label{
}
.m-body {
  background-image: -webkit-linear-gradient(135deg, #4B5BBF 0%, #5ACFE8 100%);
  background-image:    -moz-linear-gradient(135deg, #4B5BBF 0%, #5ACFE8 100%);
  background-image:     -ms-linear-gradient(135deg, #4B5BBF 0%, #5ACFE8 100%);
  background-image:      -o-linear-gradient(135deg, #4B5BBF 0%, #5ACFE8 100%);
  background-image:         linear-gradient(45deg, #4B5BBF 0%, #5ACFE8 100%);

  font-family: 'proxima_nova';
  min-height:100%;
  position:relative;
}

    .m-body__container {
        padding-bottom: 73px;
    }
