.m-button {
    background: #A9DA02;
    height: 73px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    line-height: 73px;
    text-align: center;
    border: none;
    font-size: 38px;
    font-weight: 700;
}
.m-button[disabled] {
    color: #4A4A4A;
    background: #F5F9FE;
    font-weight: 500;
}
