.m-icon {
    width: 44px;
    height: 43px;
    font-size: 28px;
    line-height: 42px;
    text-shadow: -2px 2px 2px rgba(0,0,0,0.10);
    color: #fff;
    background: url(../../img/triangle@2x.png) no-repeat top left;
    background-size: cover;
    display: block;
    padding-right: 5px;
    text-align: center;
    -moz-box-sizing: border-box;
         
    vertical-align: top;
    position: absolute;
    top: 50%;
    margin-top: -19px;
    z-index: 10;
}
.m-icon_error {
    background: url(../../img/triangle_red@2x.png) no-repeat top left;
    background-size: cover;
}
