
.m-input{
    height: 73px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.30);
       -moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.30);
            box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.30);

    -moz-box-sizing: border-box;
         box-sizing: border-box;
    padding: 1px 10px 1px 30px;
    position: relative;
}
.m-input input:focus {
    outline: none;
}


.m-input > input[type=text],
.m-input > input[type=number],
.m-input > input[type=month],
.m-input > input[type=tel] {
    background: none;
    border: none;
    font-size: 23px;
    color: #fff;
    text-shadow: -2px 2px 2px rgba(0,0,0,0.10);
    font-weight: 500;
    height: 36px;
    box-sizing: border-box;
    position: relative;
    margin: 20px 0 0;
    display: block;
    padding-left: 56px;
    padding-right: 1ex;
    width: 100%;
    vertical-align: middle;
}

.m-input__cover {
    display: inline-block;
    height: 50px;
    padding-left: 53px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.m-input__cover > input {
    position: absolute;
    width: 1px;
    height: 1px;
    display: block;
    top: 0;
    border: none;
    background: none;
    left: 0;
    top: 0;
    font-size: 1px;
}

.m-input__xxx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 39px;
    font-size: 23px;
    opacity: 0.6;
    overflow: hidden;
    padding-left: 53px;
    box-sizing: border-box;
    padding-top: 20px;
}
.m-input__cover > input:focus +
.m-input__cover-value:after {
    content: "|"
}
.m-input__cover > input:focus +
.m-input__cover-value > .m-input__cover-placeholder {
    display: none;
}

.m-input__char {
    width: 1.2ex;
    text-align: center;
    display: inline-block;
}

.m-input__cover-value {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 23px;
    color: #fff;
    text-shadow: -2px 2px 2px rgba(0,0,0,0.10);
    font-weight: 500;
    line-height: 39px;
    padding: 20px 0 15px;
    overflow: auto;
    display: block;
    position: relative;
    z-index: 100;
}

.m-input >input::-webkit-input-placeholder { /* Chrome/Safari */
   color: #FFF;
}
 
.m-input >input:-moz-placeholder { /* Firefox < 18 */
   color: #FFF; 
}
 
.m-input >input::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF; 
}
 
.m-input >input:-ms-input-placeholder {  /* IE 9+ */
   color: #FFF; 
}
.m-input input[type=number]::-webkit-inner-spin-button,
.m-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@media all and (max-width: 600px) {
    .m-input{
        padding: 1px 10px 1px 10px;
    }
    .m-input > input[type=text],
    .m-input > input[type=number],
    .m-input > input[type=month],
    .m-input > input[type=tel] {
        font-size: 16px;
    }
    .m-input__xxx {
        font-size: 16px;
    }
    .m-input__cover-value {
        font-size: 16px;
    }
}

@media all and (max-width: 480px) {
    .m-input{
        padding: 1px 10px 16px 1px;
    }
    .m-input > input[type=text],
    .m-input > input[type=number],
    .m-input > input[type=month],
    .m-input > input[type=tel] {
        font-size: 16px;
    }
    .m-input__xxx {
        font-size: 16px;
    }
    .m-input__cover-value {
        font-size: 16px;
    }
}

@media all and (max-width: 320px) {
    .m-input{
        padding: 1px 3px 1px 3px;
    }
    .m-input > input[type=text],
    .m-input > input[type=number],
    .m-input > input[type=month],
    .m-input > input[type=tel] {
        font-size: 13px;
    }
    .m-input__xxx {
        font-size: 13px;
    }
    .m-input__cover-value {
        font-size: 13px;
    }
}
